.search__field--view{
    .hidden {
        display: none;
    }

    .noresultmessage{
        text-align: center;
    }
    .cmp-title__text{
        margin-bottom: 48px;
    }
    .cmp-search-list__item-group {
   
        -webkit-column-gap: 1rem;
        -moz-column-gap: 1rem;
        column-gap: 1rem;
        display: grid;
        grid-template-columns: repeat(4,minmax(0,1fr));
        row-gap: 2.5rem;
        list-style: none;
        margin: 0;
        padding-left: 0;

        .cmp-searchresult-item{
            align-items: flex-start;
            display: inline-flex;
            gap: var(--spacing-1, 8px);
            flex-direction: column;
           
            .cmp-searchresult-title {
                font-size: 24px;
            }
            span {
                color: var(--color-gray-0, #000);

                /* Label */
                font-family: Sohne;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 16.8px */
                letter-spacing: 5px;
                text-transform: uppercase;
            }
            h3 {
                color: var(--color-gray-0, #000);

                /* Display Medium/Desktop */
                font-family: Typonine Stencil Std;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 115%; /* 27.6px */
                letter-spacing: 0.1px;
                margin-top:6px;
            }
            p {
                // font-size: 16px;
                // font-family: Sohne Regular,sans-serif;

                color: var(--color-gray-0, #000);

                /* Body/Regular */
                font-family: Sohne;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; /* 24px */
                letter-spacing: 0.08px;
                margin-top: 16px;
                img {
                    height: 32px;
                    width: auto;
                    margin-top: -14px;
                }
            }
            a {
                text-decoration: none;
                width: 100%;
               
            }
            img{
                width: 100%;
                margin-bottom: 14px;
            }
        }
    }


    
@include media-breakpoint-down(sm) {
    .cmp-search-list__item-group {
        column-gap: 0.625rem;
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        row-gap: 1.5rem;
    }

    .cmp-searchresult-item{
        img{
            height: 163px;
        }
    }
  }
}

@include media-breakpoint-up(sm) {
    .cmp-searchresult-item{
        img{
            height: 328px;
        }
    }
}
