$fonts: ('typonine': $font-family--typonine, 'thema': $font-family--thema, 'sohne': $font-family--sohne);
$font-sizes: ('xxs':$font-xxs, 'xs':$font-xs, 'sm':$font-sm, 'md':$font-md, 'ml':$font-ml, 'base':$font-base, 'lg':$font-lg, 'xl':$font-xl, '2xl':$font-2xl, '3xl':$font-3xl, '4xl':$font-4xl, '5xl':$font-5xl, '6xl':$font-6xl, '7xl':$font-7xl, '8xl':$font-8xl);
$line-height: ('none':$line-height-none, 'snug':$line-height-tighter, 'tight':$line-height-tight, 'normal':$line-height-normal);
$letter-spacing: ('normal':$tracking-normal, 'sm':$tracking-sm, 'md':$tracking-md, 'ml':$tracking-ml, 'lg':$tracking-lg, 'xl':$tracking-xl, '2xl':$tracking-2xl);
$font-weight: ('light':$font-weight-light, 'normal':$font-weight-normal, 'medium':$font-weight-medium, 'semibold':$font-weight-semibold, 'bold':$font-weight-bold);
$colors: ('gray-200': $gray-200, 'gray-50': $gray-50, 'gray-400': $gray-400, 'darkgrey':$darkgrey, 'white':$white, 'black':$black, 'dark':$dark);

.cmp-accordion {
  display: flex;
  flex-direction: column;
}

.cmp-accordion__item {
  border-top: 1px solid $black;
  display: flex;
  flex-direction: column;
  gap: $spacing-12;

  &:last-of-type {
    border-bottom: 1px solid $black;
  }

  @media (prefers-color-scheme: dark) {
    border-color: $color-black-dark;

    &:last-of-type {
      border-bottom-color: $color-black-dark;
    }
  }
}

.cmp-accordion__header {
  margin-bottom: 0;
}

.cmp-accordion__button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-20;
  color: $black;
  width: 100%;
  padding: $spacing-32 0;

  @include media-breakpoint-down(md) {
    padding: $spacing-16 0;
  }

  @media (prefers-color-scheme: dark) {
    color: $color-black-dark;
  }

  &[aria-expanded="true"] {
    .cmp-accordion__icon {
      svg {
        path {
          transform: rotate(180deg);

          &:first-child {
            transform: rotate(90deg);
          }
        }
      }
    }
  }

  .cmp-accordion__icon {
    background-image: none;

    svg {
      path {
        transition: all .2s ease-out;
        transform-origin: center;
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);

        @media (prefers-color-scheme: light) {
          stroke: $black;
        }
      }
    }
  }
}

.cmp-accordion__button--expanded {
  padding-bottom: 0;

  .cmp-accordion__icon {
    background-image: none;
  }
}

.cmp-accordion__title {
  font-size: $font-base;
  font-weight: $font-weight-normal;
  letter-spacing: $tracking-md;
  text-align: left;
}

.cmp-accordion__icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: $spacing-24;
  height: $spacing-24;
}

.cmp-accordion__panel {
  color: $black;

  @media (prefers-color-scheme: dark) {
    color: $color-black-dark;
  }

  .container {
    padding: 0;
  }
}

.cmp-accordion__panel--expanded {
  display: block;
  padding-bottom: $spacing-32;

  @include media-breakpoint-down(md) {
    padding-bottom: $spacing-16;
  }
}

.cmp-accordion__panel--hidden {
  display: none;
}

.container--white,
.container--midgrey,
.container--lightgrey,
.container--locust,
.container--duststorm,
.container--gulfstream,
.container--darksalmon {
  .cmp-accordion__item {
    border-color: $black;
  }

  .cmp-accordion__button {
    color: $black;

    .cmp-accordion__icon {
      svg {
        path {
          stroke: $black;
        }
      }
    }
  }

  .cmp-accordion__panel {
    color: $black;
  }
}

.container--black,
.container--darkgrey {
  .cmp-accordion__item {
    border-color: $white;
  }

  .cmp-accordion__button {
    color: $white;

    .cmp-accordion__icon {
      svg {
        path {
          stroke: $white;
        }
      }
    }
  }

  .cmp-accordion__panel {
    color: $white;
  }
}

.accordion--bold {
  .cmp-accordion__title {
    font-weight: $font-weight-medium;
  }
}

// Accordion Title styles
.accordion {
  @each $name, $font in $fonts {
    &.accordion-title__font--#{$name} {
      .cmp-accordion__title {
        font-family: $font;
      }
    }
  }

  @each $name, $font-size in $font-sizes {
    &.accordion-title__text--#{$name} {
      .cmp-accordion__title {
        font-size: $font-size;
      }
    }
  }

  @each $name, $leading in $line-height {
    &.accordion-title__leading--#{$name} {
      .cmp-accordion__title {
        line-height: $leading;
      }
    }
  }

  @each $name, $spacing in $letter-spacing {
    &.accordion-title__tracking--#{$name} {
      .cmp-accordion__title {
        letter-spacing: $spacing;
      }
    }
  }

  @each $name, $weight in $font-weight {
    &.accordion-title__font--#{$name} {
      .cmp-accordion__title {
        font-weight: $weight;
      }
    }
  }

  @each $name, $color in $colors {
    &.accordion-title__font--#{$name} {
      .cmp-accordion__title {
        color: $color;
      }
    }
  }
}
