.cmp-audio {
  .cmp-audio__audio {
    display: none;
  }

  .cmp-audio__icon {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../resources/images/volume.svg");
  }

  .cmp-audio__text {
    padding-top: 2px;
    margin-left: 2rem;

    &:hover {
        cursor: pointer;
    }
  }
}

.audio--full {
  audio {
    width: 100%;
  }
}

.audio--half {
  width: 50%;

  audio {
    width: 100%;
  }
}

.audio--quarter {
  width: 25%;

  audio {
    width: 100%;
  }
}
