$paddings: ('0':$spacing-0, '2xs':$spacing-2, 'xs':$spacing-8, 'sm':$spacing-12, 'base':$spacing-16, 'md':$spacing-20, 'ml':$spacing-28, 'lg':$spacing-32, '2lg':$spacing-40, '3lg':$spacing-48, '4lg':$spacing-64, '5lg':$spacing-80);
$fonts: ('typonine': $font-family--typonine, 'thema': $font-family--thema);
$font-sizes: ('xxs':$font-xxs, 'xs':$font-xs, 'sm':$font-sm, 'md':$font-md, 'ml':$font-ml, 'base':$font-base, 'lg':$font-lg, 'xl':$font-xl, '2xl':$font-2xl, '3xl':$font-3xl, '4xl':$font-4xl, '5xl':$font-5xl, '6xl':$font-6xl, '7xl':$font-7xl, '8xl':$font-8xl);
$line-height: ('none':$line-height-none, 'snug':$line-height-tighter, 'tight':$line-height-tight, 'normal':$line-height-normal);
$letter-spacing: ('normal':$tracking-normal, 'sm':$tracking-sm, 'md':$tracking-md, 'ml':$tracking-ml, 'lg':$tracking-lg, 'xl':$tracking-xl, '2xl':$tracking-2xl);
$font-weight: ('light':$font-weight-light, 'normal':$font-weight-normal, 'medium':$font-weight-medium, 'semibold':$font-weight-semibold, 'bold':$font-weight-bold);
$colors: ('gray-200': $gray-200, 'gray-50': $gray-50, 'gray-400': $gray-400, 'darkgrey':$darkgrey, 'white':$white, 'black':$black, 'dark':$dark);
$margins: ('0':$spacing-0, '2xs':$spacing-2, 'xs':$spacing-8, 'sm':$spacing-12, 'base':$spacing-16, 'md':$spacing-20, 'ml':$spacing-28, 'lg':$spacing-32, '2lg':$spacing-40, '3lg':$spacing-48, '4lg':$spacing-64, '5lg':$spacing-80);

.button {
  width: fit-content;
}

.button--center {
  margin: 0 auto !important;
}

.button--right {
  margin-left: auto !important;
}

.aem-GridColumn {
  &.button--center,
  &.button--right {
    float: initial !important;
    width: fit-content !important;
  }
}

a.cmp-button,
a.cmp-button:active {
  text-decoration: none;
}

.cmp-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  transition: all .15s ease-in;
  border-radius: $spacing-2;
  border: 1px solid transparent;
  padding: $spacing-8;

  .cmp-link__screen-reader-only {
    display: none;
  }

  &:has(.cmp-button__text) {
    padding: $spacing-12 $spacing-22;
    border-radius: $rounded-full;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  @include media-breakpoint-up(md) {
    &:hover {
      gap: $spacer;

      .cmp-button__icon {
        i {
          opacity: 1;
          font-size: $font-base;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    gap: $spacer;

    .cmp-button__icon {
      i {
        opacity: 1;
        font-size: $font-base;
      }
    }
  }
}

.cmp-button__text {
  font-size: $font-base;
  line-height: $line-height-normal;
  font-weight: $font-weight-normal;
  font-family: $font-family--sohne;
  letter-spacing: $tracking-lg;
  text-transform: capitalize;
}

.cmp-button__icon {
  i {
    font-size: 0;
    transition: all .15s ease-in;
  }
}

.button:not(.button--link-filled) {
  a.cmp-button {
    height: auto;
    gap: $spacing-8;
    border-radius: 0;
    border: none;
    padding: 0;

    .cmp-button__text,
    .cmp-link__screen-reader-only {
      font-weight: $font-weight-normal;
      color: currentColor;
      line-height: $line-height-none;
      font-size: $font-base;
    }

    &:hover:not(:disabled),
    &:active:not(:disabled) {
      .cmp-button__text,
      .cmp-link__screen-reader-only {
        color: currentColor;
      }

      .cmp-button__icon {
        i {
          color: $dark;
        }
      }
    }

    .cmp-button__icon {
      i {
        color: $black;
      }
    }
  }
}

.button--primary {
  .cmp-button {
    background-color: $black;

    &:hover:not(:disabled),
    &:active:not(:disabled) {
      background-color: $dark;
    }
  }

  .cmp-button__text {
    color: $white;
  }

  .cmp-button__icon {
    i {
      color: $white;
    }
  }
}

.button--secondary-black {
  .cmp-button {
    background-color: transparent;
    border-color: $black;

    &:hover:not(:disabled),
    &:active:not(:disabled) {
      background-color: rgba($dark, 0.2);
    }
  }

  .cmp-button__text {
    color: $black;
  }

  .cmp-button__icon {
    i {
      color: $black;
    }
  }
}

.button--secondary-white {
  .cmp-button {
    background-color: transparent;
    border-color: $white;

    &:hover:not(:disabled),
    &:active:not(:disabled) {
      background-color: rgba($accent-01, 0.2);
    }
  }

  .cmp-button__text {
    color: $white;
  }

  .cmp-button__icon {
    i {
      color: $white;
    }
  }
}

.button--accent {
  .cmp-button {
    background-color: $white;

    &:hover:not(:disabled),
    &:active:not(:disabled) {
      background-color: $accent-01;

      .cmp-button__text {
        color: $dark;
      }

      .cmp-button__icon {
        i {
          color: $dark;
        }
      }
    }
  }

  .cmp-button__text {
    color: $black;
  }

  .cmp-button__icon {
    i {
      color: $black;
    }
  }
}

.button--duststorm {
  .cmp-button {
    background-color: $duststorm;

    &:hover:not(:disabled),
    &:active:not(:disabled) {
      background-color: rgba($duststorm, .8);

      .cmp-button__text {
        color: $dark;
      }

      .cmp-button__icon {
        i {
          color: $dark;
        }
      }
    }
  }

  .cmp-button__text {
    color: $black;
  }

  .cmp-button__icon {
    i {
      color: $black;
    }
  }
}

.button--delete {
  .cmp-button {
    background-color: $red;

    &:hover:not(:disabled),
    &:active:not(:disabled) {
      background-color: $red-500;
    }
  }

  .cmp-button__text {
    color: $white;
  }

  .cmp-button__icon {
    i {
      color: $white;
    }
  }
}

.button--icon-right {
  .cmp-button__icon {
    order: 2;
  }
}

@each $name, $padding in $paddings {
  .button {
    &.px-#{$name} {
      .cmp-button {
        padding-left: $padding;
        padding-right: $padding;
      }
    }

    &.py-#{$name} {
      .cmp-button {
        padding-top: $padding;
        padding-bottom: $padding;
      }
    }
  }
}

@each $name, $padding in $paddings {
  .button {
    @include media-breakpoint-down(md) {
      &.px-md-#{$name} {
        .cmp-button {
          padding-left: $padding;
          padding-right: $padding;
        }
      }

      &.py-md-#{$name} {
        .cmp-button {
          padding-top: $padding;
          padding-bottom: $padding;
        }
      }
    }
  }
}

// Button Text Styles
.button {
  @each $name, $font in $fonts {
    &.button__font--#{$name} {
      .cmp-button__text {
        font-family: $font;
      }
    }
  }

  @each $name, $font-size in $font-sizes {
    &.button__text--#{$name} {
      .cmp-button__text {
        font-size: $font-size;
      }

      &:hover {
        .cmp-button__icon {
          i {
            font-size: $font-size;
          }
        }
      }
    }
  }

  @each $name, $font-size in $font-sizes {
    @include media-breakpoint-down(md) {
      &.button__text-sm--#{$name} {
        .cmp-button__text {
          font-size: $font-size;
        }

        &:hover {
          .cmp-button__icon {
            i {
              font-size: $font-size;
            }
          }
        }
      }
    }
  }

  @each $name, $leading in $line-height {
    &.button__leading--#{$name} {
      .cmp-button__text {
        line-height: $leading;
      }

      .cmp-button__icon {
        i {
          line-height: $leading;
        }
      }
    }
  }

  @each $name, $spacing in $letter-spacing {
    &.button__tracking--#{$name} {
      .cmp-button__text {
        letter-spacing: $spacing;
      }
    }
  }

  @each $name, $weight in $font-weight {
    &.button__font--#{$name} {
      .cmp-button__text {
        font-weight: $weight;
      }
    }
  }

  @each $name, $color in $colors {
    &.button__font--#{$name} {
      .cmp-button__text {
        color: $color;
      }

      .cmp-button__icon {
        i {
          color: $color;
        }
      }
    }
  }

  @each $name, $margin in $margins {
    &.ml-#{$name} {
      margin-left: $margin;
    }

    &.mr-#{$name} {
      margin-right: $margin;
    }
  }

  @each $name, $margin in $margins {
    @include media-breakpoint-down(md) {
      &.ml-md-#{$name} {
        margin-left: $margin;
      }

      &.mr-md-#{$name} {
        margin-right: $margin;
      }
    }
  }
}

.hover-gb__white.button {
  .cmp-button {
    &:hover:not(:disabled),
    &:active:not(:disabled) {
      background-color: $white;

      .cmp-button__text {
        color: $black;
      }

      .cmp-button__icon {
        i {
          color: $black;
        }
      }
    }
  }
}

.hover-gb__black.button {
  .cmp-button {
    &:hover:not(:disabled),
    &:active:not(:disabled) {
      background-color: $black;

      .cmp-button__text {
        color: $white;
      }

      .cmp-button__icon {
        i {
          color: $white;
        }
      }
    }
  }
}

.button.button-mobile__fullwidth {
  @include media-breakpoint-down(md) {
    width: 100%;
  }

  .cmp-button {
    @include media-breakpoint-down(md) {
      width: 100%;
      justify-content: space-between;
    }
  }
}
