header.experiencefragment {
  padding: 0 !important;
  border-bottom: none !important;
}

header.experiencefragment.experiencefragment--reset {
  .cmp-container {
    display: block;
  }

  .cmp-navigation__item--level-0 {
    display: list-item;

    & > .cmp-navigation__group {
      display: none;
    }
  }

  a {
    color: currentColor;

    &:not(.cmp-button) {
      &:hover,
      &:focus {
        text-decoration: none;
        color: $accent-01;
      }
    }

    &.cmp-button {
      &:hover,
      &:focus {
        text-decoration: none;
        color: currentColor;
      }
    }
  }

  .cmp-search__field {
    margin: 0;
    display: block;
  }

  .cmp-search__input {
    height: 100%;
  }
}

header {
  .cmp-container,
  .cmp-container > div.aem-Grid {
    > .container {
      > .cmp-container {
        max-width: 1440px;
        margin: 0 auto;
      }
    }
  }

  .container-header {
    > .cmp-container {
      display: flex !important;
      align-items: center;
      gap: $spacing-8;
      flex-wrap: nowrap;
      justify-content: space-between;

      > .container:first-child,
      > .container:last-child {
        flex: 1;
      }
    }

    .search--popup {
      input.cmp-search__input {
        background: transparent;
        border: none;
        padding-left: $spacing-12;
        padding-right: $spacing-12;
      }

      .cmp-search__icon {
        left: 0;
        background-image: url("../resources/images/search-white.svg");
      }

      &-active {
        input.cmp-search__input {
          padding-left: $spacing-40;
        }

        &:after {
          opacity: 1;
          content: 'Back to menu';
          text-decoration: underline;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

