.cmp-teaser {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 566px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-down(md) {
    height: 460px;
  }
}

.cmp-teaser__image {
  width: 100%;

}

.cmp-teaser__image,
.cmp-teaser__image .cmp-image,
.cmp-teaser__image .cmp-image__image {
  @include media-breakpoint-down(md) {
    height: 100%;
  }
}

.cmp-teaser__content {
  padding: $spacing-2 $spacing-80;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: auto;
  min-width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba($black, 0.38);

  @include media-breakpoint-down(md) {
    padding: 0 $spacing-20 $spacing-28;
    justify-content: flex-end;
  }
}

.cmp-teaser__pretitle {
  margin-bottom: 0;
}

.cmp-teaser__title,
.cmp-teaser__pretitle {
  color: $white;
  font-size: $font-8xl;
  font-weight: $font-weight-medium;
  line-height: $line-height-tightest;
  font-family: $font-family--typonine;
  text-align: center;

  @include media-breakpoint-down(md) {
    font-size: $font-7xl;
    line-height: $font-7xl;
    letter-spacing: $tracking-ml;
  }
}

.cmp-teaser__title {
  margin-bottom: $spacing-40;

  @include media-breakpoint-down(md) {
    margin-bottom: $spacing-20;
  }
}

.cmp-teaser__title-link {
}

.cmp-teaser__description {
  text-align: center;
}

.cmp-teaser__action-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: $spacing-20;
}

.cmp-teaser__action-link {
  padding: $spacing-12 $spacing-22;
  border: 1px solid $white;
  border-radius: $rounded-full;
  transition: all ease-in 0.15s;
  gap: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-base;
  letter-spacing: $tracking-lg;
  text-transform: capitalize;
  color: $white;
  text-decoration: none;
  position: relative;

  &:after {
    content: '';
    background-image: url('../resources/images/arrow-black.svg');
    display: block;
    height: $spacing-24;
    width: 0;
    opacity: 0;
    transition: all ease-in 0.15s;
  }

  &:hover {
    background: $white;
    color: $black;

    @include media-breakpoint-up(md) {
      gap: $spacing-16;

      &:after {
        opacity: 1;
        width: $spacing-24;
      }
    }
  }

  @include media-breakpoint-down(md) {
    gap: $spacing-16;
    width: 100%;
    max-width: 256px;
    justify-content: space-between;

    &:after {
      opacity: 1;
      width: $spacing-24;
      background-image: url('../resources/images/arrow-white.svg');
    }

    &:hover,
    &:active {
      background-image: url('../resources/images/arrow-black.svg');
    }
  }
}