$fonts: ('typonine': $font-family--typonine, 'thema': $font-family--thema, 'sohne': $font-family--sohne);
$font-sizes: ('xxs':$font-xxs, 'xs':$font-xs, 'sm':$font-sm, 'md':$font-md, 'ml':$font-ml, 'base':$font-base, 'lg':$font-lg, 'xl':$font-xl, '2xl':$font-2xl, '3xl':$font-3xl, '4xl':$font-4xl, '5xl':$font-5xl, '6xl':$font-6xl, '7xl':$font-7xl, '8xl':$font-8xl);
$line-height: ('none':$line-height-none, 'snug':$line-height-tighter, 'tight':$line-height-tight, 'normal':$line-height-normal);
$letter-spacing: ('normal':$tracking-normal, 'sm':$tracking-sm, 'md':$tracking-md, 'ml':$tracking-ml, 'lg':$tracking-lg, 'xl':$tracking-xl, '2xl':$tracking-2xl);
$font-weight: ('light':$font-weight-light, 'normal':$font-weight-normal, 'medium':$font-weight-medium, 'semibold':$font-weight-semibold, 'bold':$font-weight-bold);
$colors: ('gray-200': $gray-200, 'gray-50': $gray-50, 'gray-400': $gray-400, 'darkgrey':$darkgrey, 'white':$white, 'black':$black, 'dark':$dark);

@each $name, $font-size in $font-sizes {
  .text--#{$name} {
    h1, h2, h3, h4, h5, h6, p, span, a, ul li, ol li {
      font-size: $font-size;
    }
  }
}

// Mobile Font Sizes
@each $name, $font-size in $font-sizes {
  .text-sm--#{$name} {
    h1, h2, h3, h4, h5, h6, p, span, a, ul li, ol li {
      @include media-breakpoint-down(sm) {
        font-size: $font-size;
      }
    }
  }
}

@each $name, $spacing in $letter-spacing {
  .tracking-#{$name} {
    h1, h2, h3, h4, h5, h6, p, span, a, ul li, ol li {
      letter-spacing: $spacing;
    }
  }
}

@each $name, $height in $line-height {
  .line-height--#{$name} {
    h1, h2, h3, h4, h5, h6, p, span, a, ul li, ol li {
      line-height: $height;
    }
  }
}

// Mobile Line Height
@each $name, $height in $line-height {
  @include media-breakpoint-down(sm) {
    .line-height-sm--#{$name} {
      h1, h2, h3, h4, h5, h6, p, span, a, ul li, ol li {
        line-height: $height;
      }
    }
  }
}

@each $name, $font in $fonts {
  .typography--#{$name} {
    font-family: $font;
  }
}

@each $name, $weight in $font-weight {
  .font--#{$name} {
    h1, h2, h3, h4, h5, h6, p, span, a, ul li, ol li {
      font-weight: $weight;
    }
  }
}

@each $name, $color in $colors {
  .font--#{$name} {
    h1, h2, h3, h4, h5, h6, p, span, a, ul li, ol li {
      color: $color;
    }
  }
}